/* ------------------------ Position ------------------------ */

.p-absolute {
    position: absolute;
}
.p-relative {
    position: relative;
}
.p-static {
    position: static;
}
.p-sticky {
    position: sticky;
}
.p-inherit {
    position: inherit;
}
