/* ------------------------ Spacing (Padding and Margins) ------------------------ */

// p = padding, m = margin
// t,b,l,r = top, bottom, left, right
// x = horizontal, y = vertical
// Example: mb-5 = margin bottom size 5

// Set the spacing here and the "spacing-builder" will create a padding and margin property set for each row in the map.
$spacing-map: (
  0: 0,
  1: 0.6rem,
  2: 1.2rem,
  3: 2.4rem,
  4: 3.6rem,
  5: 4.2rem,
  6: 6rem,
);

@mixin spacing-builder($property, $prefix, $suffix, $size) {
  .#{$prefix}-#{$suffix} {
    #{$property}: $size;
  }
  .#{$prefix}t-#{$suffix} {
    #{$property}-top: $size;
  }
  .#{$prefix}b-#{$suffix} {
    #{$property}-bottom: $size;
  }
  .#{$prefix}l-#{$suffix} {
    #{$property}-left: $size;
  }
  .#{$prefix}r-#{$suffix} {
    #{$property}-right: $size;
  }
  .#{$prefix}y-#{$suffix} {
    #{$property}-top: $size;
    #{$property}-bottom: $size;
  }
  .#{$prefix}x-#{$suffix} {
    #{$property}-left: $size;
    #{$property}-right: $size;
  }
}

@each $key, $value in $spacing-map {
  @include spacing-builder(padding, p, $key, $value);
}

@each $key, $value in $spacing-map {
  @include spacing-builder(margin, m, $key, $value);
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
