/* ------------------------ Color------------------------ */

// All colors are defined and applied in this file
// Use scss variables when the colour is fixed
// Use css variables when the colour is theme based

$select-drop-icon-color: rgb(
    96,
    108,
    118
) !default; // should match --color-black-light, is hardcoded because it is used for an inline svg. Must be rgb format

// ------------------------ Color definitions ------------------------ //

body {
    // Identity
    --color-primary-light: #3b9ffd;
    --color-primary: #1890ff;
    --color-primary-dark: #0c78dd;

    --color-secondary-light: #a83fee;
    --color-secondary: #920de9;
    --color-secondary-dark: #7e0bca;

    // Grey-scale
    --color-white-light: #ffffff;
    --color-white: #e8ebec;
    --color-white-dark: #e3e5e7;

    // --color-grey-light: #aaaaaa;
    // --color-grey: #808080;
    // --color-grey-dark: #5f5f5f;

    --color-black-light: #606c76;
    --color-black: #424b52;
    --color-black-dark: #212325;

    // Alerts
    --color-success-light: #c6eeab;
    --color-success: #61bb25;
    --color-success-dark: #265308;

    --color-info-light: #bce3f3;
    --color-info: #70d1f8;
    --color-info-dark: #0a4c66;

    --color-warn-light: #fd9c64;
    --color-warn: #ff5e00;
    --color-warn-dark: #a04713;

    --color-danger-light: #f8b2a9;
    --color-danger: #ff1e00;
    --color-danger-dark: #c51a04;

    // Elements
    --color-shadow: rgba(66, 75, 82, 0.2);
    --color-shadow-primary: rgba(24, 143, 255, 0.4);
}

// Dark color css variables. Overwrite the variables that need to change
.dark-mode {
    --color-white-light: #606c76;
    --color-white: #424b52;
    --color-white-dark: #212325;

    --color-black-light: #606c76;
    --color-black: #f4f5f6;
    --color-black-dark: #eaebec;
}

// ------------------------ Color assignments ------------------------ //
body {
    background: var(--color-white);
    color: var(--color-black);
}
